@import "normalize";
@import "swiper";
@import "mobileNav";

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

@import "small";

@media only screen and (min-width: 560px) {
  @import "medium";
}

@media only screen and (min-width: 1028px) {
  @import "large";
}

