@media only screen and (min-width: 1600px) {
  #BlogArticles {
    padding: 0;
  }
  #nav__wrapper {
    padding: 0;
  }
}

#BlogArticles {
  margin-bottom: 5rem;

  h2 {
  }

  div {
    div {
      width: 24.2%;
      a {
        .blog_title {
        }

        .blogImg {
          img {
          }
        }

        .blog_date {
        }
      }
    }
  }
}

#contactUs__wrapper {
  #AboutUs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1%;

    #Contact {
      // display: flex;
      width: 66%;
      grid-template-columns: 1fr 1fr;

      // H2 withing ADDRESS Section

      #address__section {
        grid-area: address;
      }
      #phone__section {
        grid-area: phone;
      }
      #hours__section {
        grid-area: hours;
      }
      #news__section {
        grid-area: news;
        margin-left: 0;
        width: 100%;
      }
    }

    #WhyCabotCruise {
      width: 33%;
    }
  }
}

div#AboutUs_Page {
  display: grid;
  grid-template-areas:
    "bio r pkg"
    "bio r pkg";
 
  gap: 1rem;

  #aboutus {
    grid-area: bio;

    h2 {
    }

    figure {
      img {
      }
    }

    div {
      p {
      }
    }

    p {
      a {
      }
      a:hover {
      }
    }
  }

  #packages {
    grid-area: pkg;
    border: none;
    padding: 0;
    h2 {
    }

    div#pkg-list {
      div {
        .pkg_heading {
          h3,
          h4 {
          }
        }

        .pkg_text {
          p {
          }
        }

        .readmore {
          a {
          }
          a:hover {
          }
        }
      }
    }
  }

  #reviews {
    grid-area: r;

    h2 {
    }

    div {
      section {
        p {
        }
      }
    }
  }
}
