@media only screen and (min-width: 1600px) {
  #BlogArticles {
    padding: 0;
  }
  #nav__wrapper {
    padding: 0;
  }
}

#BlogArticles {
  margin-bottom: 5rem;
  div {
    gap: 1%;
    width: 100%;
    .blogCTA {
      width: 24.2%;
    }
  }
}

#contactUs__wrapper {
  #AboutUs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1%;

    #Contact {
      // display: flex;
      width: 66%;
      grid-template-columns: 1fr 1fr;

      // H2 withing ADDRESS Section

      #address__section {
        grid-area: address;
      }
      #phone__section {
        grid-area: phone;
      }
      #hours__section {
        grid-area: hours;
      }
      #news__section {
        grid-area: news;
        margin-left: 0;
        width: 100%;
      }
    }

    #WhyCabotCruise {
      width: 33%;
    }
  }
}

div#AboutUs_Page {
  display: grid;
  grid-template-areas: "About dest Reviews";

  section h2 {
  }

  #aboutus {
    grid-area: About;
  }

  #packages {
  }

  #reviews {
    grid-area: Reviews;
  }

  .divider {
    display: none;
  }
}

// #gallery_page {
//   .images {
//     gap: 1%;
//     width: 100%;
//     figure {
//       width: 24%;
//       margin: 0;
//       margin: auto;
//       img {
//       }

//       figcaption {
//       }
//     }
//   }
// }
